.shell {
    width: 100%;
    margin: 0 auto;
    &:not(.shell--primary) {
        max-width: $shell;
    }
    &.shell--primary {
        max-width: 1036px;
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .col {
        padding: 10px;
    }
}

// Desktop 
@media (min-width: $responsive-tablet) and (max-width: $responsive-desktop) {
    .row {
        .col--1-lg {
            width: 8.33333333%;
        }

        .col--2-lg {
            width: 16.66666667%;
        }

        .col--3-lg {
            width: 25%;
        }

        .col--4-lg {
            width: 33.33333333%;
        }

        .col--5-lg {
            width: 41.66666667%;
        }

        .col--6-lg {
            width: 50%;
        }

        .col--7-lg {
            width: 58.33333333%;
        }

        .col--8-lg {
            width: 66.66666667%;
        }

        .col--9-lg {
            width: 75%;
        }

        .col--10-lg {
            width: 83.33333333%;
        }

        .col--11-lg {
            width: 91.66666667%;
        }

        .col--12-lg {
            width: 100%;
        }
    }
}

// Tablet
@media (min-width: $responsive-mobile) and (max-width: $responsive-tablet) {
    .row {
        .col--1-md {
            width: 8.33333333%;
        }

        .col--2-md {
            width: 16.66666667%;
        }

        .col--3-md {
            width: 25%;
        }

        .col--4-md {
            width: 33.33333333%;
        }

        .col--5-md {
            width: 41.66666667%;
        }

        .col--6-md {
            width: 50%;
        }

        .col--7-md {
            width: 58.33333333%;
        }

        .col--8-md {
            width: 66.66666667%;
        }

        .col--9-md {
            width: 75%;
        }

        .col--10-md {
            width: 83.33333333%;
        }

        .col--11-md {
            width: 91.66666667%;
        }

        .col--12-md {
            width: 100%;
        }
    }
}

// Mobile
@media screen and (max-width: $responsive-mobile) {
    .row {
        .col--1-sm {
            width: 8.33333333%;
        }

        .col--2-sm {
            width: 16.66666667%;
        }

        .col--3-sm {
            width: 25%;
        }

        .col--4-sm {
            width: 33.33333333%;
        }

        .col--5-sm {
            width: 41.66666667%;
        }

        .col--6-sm {
            width: 50%;
        }

        .col--7-sm {
            width: 58.33333333%;
        }

        .col--8-sm {
            width: 66.66666667%;
        }

        .col--9-sm {
            width: 75%;
        }

        .col--10-sm {
            width: 83.33333333%;
        }

        .col--11-sm {
            width: 91.66666667%;
        }

        .col--12-sm {
            width: 100%;
        }
    }
}
