$shell: 1240px;
$background: #e8e9f3;
$primaryColor: #384783;
$fontColor: #333333;
$fontLight: #e7e9f3;

// Responsives max.
$responsive-device: 1024px; // Mobile end tablet
$responsive-mobile: 767px; // Mobile only
$responsive-tablet: 1024px; // Tablet only
$responsive-desktop: 5000px; // Desktop only